<div class="dashboard_menu">
  <div class="collapse navbar-collapse" id="dashboard_menu_list">
    <ul class="nav">
      <li class="<% if current_page?(controller: 'dashboard') %>active<% end %> home">
        <%= link_to dashboard_path do %>
          <i class="fa fa-home" aria-hidden="true"><span class="left-menu-item-font"><%= t('.home') %></span></i>
        <% end %>  
      </li>
      <li class="rooms">
        <button id="rooms_btn" class="btn-inventory-dashboard menu_button">
          <i class="fa fa-flask" aria-hidden="true"><span class="left-menu-item-font"><%= Laboratory.model_name.human(count: 3) %></span></i> 
          <i class="fa fa-caret-right fa-dashboard-menu-dropdown"></i>
        </button>
        <ul class="submenu-rooms" style="display:none;">
          <li class="show_rooms deactive">
             <button id="show_rooms_btn" class="menu_button">
                <i class="fa fa-sitemap" aria-hidden="true"><span class="left-menu-item-font"><%= t('.show') + ' ' + Laboratory.model_name.human(count: 2) %></span></i>
              </button> 
          </li>
          <li class="add_room deactive">
             <button id="add_room_btn" class="menu_button">
                <i class="fa fa-plus-circle" aria-hidden="true"><span class="left-menu-item-font"><%= t('.add') + ' ' + Laboratory.model_name.human(count: 2) %></span></i>
              </button> 
          </li>
          <li class="remove_room deactive">
             <button id="remove_room_btn" class="menu_button">
                <i class="fa fa-minus-circle" aria-hidden="true"><span class="left-menu-item-font"><%= t('.remove') + ' ' + Laboratory.model_name.human(count: 2) %></span></i>
              </button> 
          </li>
        </ul>
      </li>
      <li class="users">
        <button id="users_btn" class="menu_button">
          <i class="fa fa-user-secret" aria-hidden="true"><span class="left-menu-item-font"><%= User.model_name.human(count: 2) %></span></i> 
          <i class="fa fa-caret-right fa-dashboard-menu-dropdown"></i>
        </button>
        <ul class="submenu-users" style="display:none;">
          <li class="show_users deactive">
             <button id="show_users_btn" class="menu_button">
              <i class="fa fa-users" aria-hidden="true"><span class="left-menu-item-font"><%= t('.show_users') %></span></i>
             </button> 
          </li>
          <li class="add_user deactive">
             <button id="add_user_btn" class="menu_button">
              <i class="fa fa-user-plus" aria-hidden="true"><span class="left-menu-item-font"><%= t('.add_user') %></span></i>
             </button> 
          </li>
          <li class="remove_user deactive">
             <button id="remove_user_btn" class="menu_button">
              <i class="fa fa-user-times" aria-hidden="true"><span class="left-menu-item-font"><%= t('.remove_user') %></span></i>
             </button> 
          </li>
        </ul>
      </li>
      <li class="logs">
         <button id="logs" class="menu_button">
          <i class="fa fa-book" aria-hidden="true"><span class="left-menu-item-font"><%= t('.logs') %></span></i>
        </button>  
      </li>
      <li class="settings">
         <button id="settings" class="menu_button">
          <i class="fa fa-cog" aria-hidden="true"><span class="left-menu-item-font"><%= t('.settings') %></span></i>
        </button>  
      </li>
      <li class="reports">
         <button id="reports" class="menu_button">
          <i class="fa fa-exclamation-circle" aria-hidden="true"><span class="left-menu-item-font"><%= t('.reports') %></span></i>
        </button>  
      </li>
      <li class="logout">
        <%= link_to logout_path, method: 'delete' do %>
          <i class="fa fa-sign-out" aria-hidden="true"><span class="left-menu-item-font"><%= t('.logout') %></span></i>
        <% end %>  
      </li>
    </ul>
  </div>
</div>