<div class="dashboard_menu">
  <div class="collapse navbar-collapse" id="dashboard_menu_list">
    <ul class="nav">
      <li class="<% if current_page?(controller: 'dashboard') %>active<% end %> home">
        <%= link_to dashboard_path do %>
          <i class="fa fa-home" aria-hidden="true"><%= t('.home') %></i>
        <% end %>  
      </li>
      <li class="rooms">
        <button id="rooms-btn" class="btn-inventory-dashboard">
          <i class="fa fa-building-o" aria-hidden="true"><%= Laboratory.model_name.human(count: 3) %></i> 
          <i class="fa fa-caret-right fa-dashboard-menu-dropdown"></i>
        </button>
        <ul style="display:block;">
          <li class="add_room">
             <button id="add_room_btn">
                <i class="fa" aria-hidden="true"><%= t('.add') + ' ' + Laboratory.model_name.human(count: 2) %></i>
              </button> 
          </li>
        </ul>
      </li>
      <li class="users">
        <button id="users_btn">
          <i class="fa fa-users" aria-hidden="true"><%= User.model_name.human(count: 2) %></i> 
          <i class="fa fa-caret-right fa-dashboard-menu-dropdown"></i>
        </button>
        <ul style="display:block;">
          <li class="add_user">
             <button id="add_user_btn">
              <i class="fa" aria-hidden="true"><%= t('.add_user') %></i>
             </button> 
          </li>
        </ul>
      </li>
      <li class="logout">
         <a href="#">
          <i class="fa fa-book" aria-hidden="true"><%= t('.logs') %></i>
        </a>  
      </li>
      <li class="logout">
        <%= link_to logout_path, method: 'delete' do %>
          <i class="fa fa-sign-out" aria-hidden="true"><%= t('.logout') %></i>
        <% end %>  
      </li>
    </ul>
  </div>
</div>