<div id="login_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="login">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h1 class="login-heading"><strong><%= t('login_form.welcome') %></strong> <%= t('login_form.please') %>.</h1>
          <input name="email" placeholder="E-Mail" required="required" class="input-txt" />
          <input type="password" name="password" placeholder="<%= t('login_form.password') %>" required="required" class="input-txt" />
          <div class="login-footer">
            <button type="submit" class="btn btn--left"><%= t('login_form.forgetpass') %>  </button>
            <button type="submit" class="btn btn--right"><%= t('login_form.signin') %>  </button>
          </div>
      </div>
    </div>
  </div>
</div>