<div id="user-permission-dashboard" class="dashboard-users">
  <h1 class="main-header"><%= t('.main_header') %></h1>
  
  <div class="table-responsive-vertical shadow-z-1">
    <%= form_tag 'dashboard/users/update_for_dashboard', remote: true do %>
      <h2 class="second-header"><%= label_tag :selected_users, "Select one user or more: " %></h2>
      <%= select_tag :selected_users, options_for_select(@users.map{|u| [u.public_data_for_dashboard(current_dashboard), u.id]}), {multiple: true, class: 'select_users_for_role form-control'} %>
      <h2 class="second-header"><%= label_tag :dashboard_role_id, "Select role to assign to selected user(s): " %></h2>
      <%= select_tag :dashboard_role_id, options_from_collection_for_select(@roles, :id, :name, 1), {class: 'select_role_dashboard form-control'} %>
      <%= button_tag id: 'save_perms_btn', class: 'set_users_permission', disabled: true do end %>
    <% end %>
  </div>
</div>