<div id="remove-dashboard-users" class="dashboard-users">
  <h1 class="main-header"><%= t('.main_header') %></h1>
  <h2 class="second-header"><%= t('.second_header')%></h2>
  
  <section id="list-users">
    <div class="container-fluid">
      <div class="row">
        <% count = 0 %> 
        <% for user in @users %>
          <div class="col-md-3">
            <div class="background-user user-<%= user.id %> user-group-<%= user.dashboard_assignments.where(dashboard: current_dashboard).take.dashboard_role.name %>">
              <div class="row">
                <div class="col-md-4">
                  <div class="avatar">
                    <%= image_tag('avatars/default.png', class:'avatar-img') %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-about-user">
                    <p><%= user.visible_name %></p>
                    <p class="role"><%= user.dashboard_assignments.where(dashboard: current_dashboard).take.dashboard_role.name %></p>
                  </div>
                </div>
              </div>
            </div>
            <button class="remove-user-approve-btn button" href="#" role="button">
            	<span>remove</span>
            	<div class="icon">
            		<i class="fa fa-remove"></i>
            		<i class="fa fa-check"></i>
            	</div>
            </button>
          </div>
          <% count = count + 1 %>
          <% if(count % 4 == 0) %>
            <% count = 0 %>
            </div><div class="row top-space">
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>