<% cc = Building -%>
<div class="main">
  <div class="container">
    <div class="form">
      <h1><%= t('.title') %></h1>
      <div class="notice">
        <div class="alert-info">
          <%= flash[:notice] %>
        </div>
        <div class="alert-danger">
          <%= flash[:alert] %>
        </div>
        <% if @building.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>
            <ul>
              <% @building.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <%= bootstrap_form_for(@building, label_col: "col-sm-2", control_col: "col-sm-4", layout: :horizontal) do |f| %>
          <div class="field">
              <%= f.form_group :company_type_id, label: {text: CompanyType.model_name.human } do %>
                <% CompanyType.all.each do |ct| %>
                  <%= f.radio_button :company_type_id, ct.id, label: ct.name %>
                <% end %>
              <% end %>
              <%= f.text_field :name, :placeholder => cc.human_attribute_name('name') %>
              <%= f.text_field :shortname, :placeholder => cc.human_attribute_name('shortname') %>
              <%= f.text_field :city, :placeholder => cc.human_attribute_name('city') %>
              <%= f.select :country_id, options_from_collection_for_select(@countries, :id, :name, 1), {class: 'form-control'} %>
              <%= f.text_field :street, :placeholder => cc.human_attribute_name('street') %>
          </div>
          <%= f.error_summary %>
          <div class="actions">
            <%= f.submit t('.add'), :class => "btn btn-default" %>
          </div>
      <% end %>
    </div>
  </div>
</div>