<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title_page') %></title>
  <meta charset="utf-8">
  <meta name="author" content="Dawid 'Rodzyn' Tomas, Lukas Levvy">
  <meta name="description" content="Inwentarz sprzętu komputerowego dla Twojej szkoły i firmy!">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class=  "<%= current_user ? 'body_signed' : 'body_unsigned' %><%= params[:controller] == 'dashboard' ? ' body-dashboard' : ''  %>">
    <header id="header" class="<%= params[:controller] == 'dashboard' ? 'header-dashboard' : 'navbar-fixed-top'  %>">
     <%= yield :header %>
    </header>
    <% if params[:controller] != 'dashboard' %>
        <section id="log_in">
          <%= render partial: "sessions/new" %>
        </section>
    <% end %>
    <section id="content">
      <%=content_for?(:content) ? yield(:content) : yield %>
    </section>
    <footer id="footer">
      <%= yield :footer %>
    </footer>
  <% if flash[:alert] || content_for?(:alertbody) %>
    <div class="modal fade" id="modalinfo" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
            <h4 class="modal-title">
            <%= if content_for?(:alerttitle)
                  yield :alerttitle
                else
                  t 'errors.no_access_title'
                end %></h4>
           </div>
           <div class="modal-body">
             <p><%= yield :alertbody %></p>
             <p><%= flash[:alert] %></p>
           </div>
           
         </div>
      </div>
    </div>
  <% end %>
  <% if flash[:notice] || content_for?(:noticebody) %>
      <div class="modal fade" id="modalinfo" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
            <h4 class="modal-title"><%= yield :noticetitle %></h4>
           </div>
           <div class="modal-body">
             <p><% yield :noticebody %></p>
             <p><% flash[:notice] %></p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-white" ng-click="cancel()"><%= t('.close') %></button>
             <button type="button" class="btn btn-primary" ng-click="ok()"><%= t('.ok')%></button>
           </div>
         </div>
      </div>
    </div>
  <% end %>
</body>
</html>
