<!DOCTYPE html>
<html>
<head>
  <title><%= t('title_page') %></title>
  <meta charset="utf-8">
  <meta name="author" content="Dawid 'Rodzyn' Tomas, Lukas Levvy">
  <meta name="description" content="Inwentarz sprzętu komputerowego dla Twojej szkoły i firmy!">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class=  "<%= current_user ? 'body_signed' : 'body_unsigned' %><%= params[:controller] == 'dashboard' ? ' dashboard' : ''  %>">
    <header id="header" class="<%= params[:controller] == 'dashboard' ? 'header-dashboard' : 'navbar-fixed-top'  %>">
     <%= yield :header %>
    <section id="content">
      <%=content_for?(:content) ? yield(:content) : yield %>
    </section>
    <footer id="footer">
      <%= yield :footer %>
    </footer>
    <% if content_for?(:alert) %>
    <div id="modals" >
      <div id="alert">
        <%= yield :alert %>
      </div>
      <div id="notice">
        <%= yield :notice %>
      </div>
    </div>
    <% end %>
</body>
</html>
